  
# Stripe keys
STRIPE_PUBLISHABLE_KEY=pk_12345
STRIPE_SECRET_KEY=sk_12345
STRIPE_WEBHOOK_SECRET=whsec_1234

# Stripe key for React front end
REACT_APP_STRIPE_PUBLISHABLE_KEY=pk_12345

# Billing variables 
BASIC=price_12345
PREMIUM=price_7890

# Environment variables 
STATIC_DIR=../../client/vanillajs
