certifi==2019.3.9
chardet==3.0.4
Click==7.0
Flask==1.0.3
idna==2.8
itsdangerous==2.0.1
Jinja2==2.11.3
MarkupSafe==2.0.1
python-dotenv==0.10.3
requests==2.25.1
stripe==2.56.0
toml==0.9.6
urllib3==1.26.5
Werkzeug==1.0.1
